
  .card-container {
    margin: 3rem 0 6rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .card {
    flex: 1 1 200px; 
    border-radius: 2rem;
    padding: 3rem 2rem;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: transform 0.2s ease;
    border: 1px solid var(--border);

    &:hover {
      transform: translateY(-8px);
      box-shadow: 0 8px 20px var(--primary-border);
    }
  }



