/* -------------------- Hero Sektion -------------------- */
.hero {
  position: relative;
  display: flex;
  align-items: center;

  margin: 4rem 0 20rem 0;
  background: #000000; //noch ändern 
  color: var(--text-inverse);
}

.hero-image {
  position: absolute;
  inset: 0;
  width: 100% !important;
  height: 720px;

  object-fit: cover;  
  object-position: center;
  z-index: 0;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
}

.hero-content {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  max-width: 1220px;
  margin: 0 auto;
  padding: 2rem 1.5rem;
  color: var(--text);
}

.hero-content h1 span {
  color: var(--primary);
}

.hero-subtitle {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-top: 4rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}


.hero-actions {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* -------------------- Responsive: Mobile / Tablet -------------------- */
@media (max-width: 768px) {
  .hero-image {      
    object-fit: contain;   
  }

  .hero {
    min-height: 550px;      
    margin: 0;            
  }

  .hero-content {
    padding: 1.5rem;
  }

  .hero-actions {
    margin-top: 8rem;      
    gap: 1rem;
  }
}

.hero-card {
  border-radius: 1.5rem;
  padding: 1.5rem;
  background: radial-gradient(circle at top left, #a5b4fc1a, #ffffff 55%);
  border: 1px solid #e5e7eb;
}

.projects-grid {
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.7rem;
}

.project-card {
  background: white;
  border: 1px solid var(--border);
  padding: 1.6rem;
  border-radius: 16px;

  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-6px);
    box-shadow: 0 14px 40px rgba(0,0,0,0.06);
  }

  h3 {
    margin-bottom: 0.6rem;
  }

  p {
    font-size: 0.95rem;
    color: var(--text-light);
  }
}
.project-link {
  margin-top: 0.7rem;
  display: inline-block;
  color: var(--primary);
  font-size: 0.9rem;
}

