:root {

  --primary: #7c3aed;
  --primary-hover: #653da9;
  --primary-border: #7c3aed53;
  --primary-light: #c19dfd;

  --text: #212d49;
  --text-light: #f9fafb;

  --border: #d1d5db;
  --border-dark: #16181ba8;

  --background: #f9fafb;
  --background-hero: #1f2937;

  --card: #ffffff;

  --hover: #e5e7eb;

  --header-h: 64px;
  --footer-h: 72px;

  --space-sm: clamp(0.5rem, 1vw, 0.8rem);
  --space-md: clamp(1rem, 2vw, 1.5rem);
  --space-lg: clamp(5rem, 4vw, 8rem);

  --font-sm: clamp(0.875rem, 1vw, 1rem);      
  --font-md: clamp(1rem, 1.2vw, 1.2rem);      
  --font-lg: clamp(1.3rem, 1.8vw, 1.7rem); 
  --font-l: clamp(1.5rem, 1.2vw, 2rem);    
  --font-xl: clamp(2.2rem, 2.5vw, 3.8rem);      
  --font-xxl: clamp(3rem, 5vw, 5.5rem);      
}

[data-theme="dark"] {
  --primary: #ebcf48;
  --primary-light: #fde047;
  --primary-hover: #cdb644;
  --primary-border: #ffd6337a;
  
  --text: #e5e7eb;
  --text-light: #12181f;

  --border: #374151;
  --border-dark: #edeff1d7;

  --background: #0d121d;
  --background-hero: #06070c;

  --card: #192437;

  --hover: #374151;
}


body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', Arial, sans-serif;
  background: var(--background);
  color: var(--text);
  transition:
  background-color 0.25s ease,
  color 0.20s ease;
}

h1 {
  font-size: var(--font-xxl);
  font-weight: 700;
  margin: 0;
  color: var(--primary);

}

h2 {
  font-size: var(--font-xl);
  margin: var(--space-lg) 0 var(--space-sm);
}

h3 {
  font-size: var(--font-lg);
  margin: var(--space-md) 0 var(--space-sm);
}

.subtitle {
  font-size: var(--font-l);
  font-weight: 100;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--border);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: var(--font-md);
  line-height: 1.6;
  margin: 0 0 var(--space-md);
}


.app-main {
  flex: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--space-md);
  padding-bottom: var(--footer-h);
  box-sizing: border-box;
}

section {
  scroll-margin-top: 140px;
}

.page {
  margin: 0 auto;
  padding: 0 var(--space-md);
}

.btn {
  border-radius: 1.5rem;
  font-size: var(--font-sm);
  font-weight: 600;
  padding: 1rem 2rem;          
  max-width: 10rem;  
  text-decoration: none;
  transition: all 0.2s ease;
  text-align: center;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  align-items: center;       
  justify-content: center;   
  gap: var(--space-sm);
  white-space: nowrap;  
}

.btn-primary {
  background-color: var(--primary);
  color: var(--text-light);
}

.btn-primary:hover {
  background-color: var(--primary-hover);
  transform: translateY(-3px);

}

.btn-primary-light {
  border: 1px solid var(--primary-light);
  color: var(--primary-light);
}

.btn-primary-light:hover {
  transform: translateY(-3px);
}

.btn-secondary {
  border: 1px solid var(--primary-hover);
  color: var(--primary-hover);
}

.btn-secondary:hover {
  background-color: var(--hover);
  transform: translateY(-3px);
}

.hero-actions,
.contact-card .btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: var(--space-md);
}

@media (max-width: 768px) {
  .hero-actions,
  .contact-card .btn-container {
    flex-wrap: wrap;   
    gap: var(--space-sm);
  }

  .btn {          
    min-width: 8rem;           
  }
}

